BOT_TOKEN=ваш токен бота тг 
HH_API_URL=https://api.hh.ru
HH_TOKEN=токен приложения выданный  hh.ru
DATABASE_URL=строка подключения к PostgreSQL
SHADOW_DATABASE_URL=строка подключения к теневой БД для миграций Prisma